In [92]:
import requests

from bs4 import BeautifulSoup



r = requests.get('https://www.century21.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/')

c = r.content

soup = BeautifulSoup(c, 'html.parser')

all = soup.find_all('div', {'class':'property-card-primary-info'})

#page_nr = soup.find_all('div', {'class' : 'Page'})[-1].text  #you can add this for easy page count, while you modify the
                                                              #the 'for loop' below to- for page in range(0,int(page_nr)*10,10):
#print(type(page_nr))

In [96]:
all[0].find('a', {'class' : 'listing-price'}).text.replace('\n', '').replace(' ','')

'$152,000'

In [149]:
L = []

base_url = 'https://www.century21.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/#t=0&s='  #to capture other pages
for page in range(0,30,10):    #OR for page in range(0,int(page_nr)*10,10):   
    print(base_url + str(page))
    r = requests.get(base_url + str(page))
    c = r.json()['list']  #OR r.content
    soup = BeautifulSoup(c,'html.parser')
    all = soup.find_all('div', {'class' : 'property-card-primary-info'})
    

    for items in all:       #the base outline

        d = {}

        d['Address'] = items.find_all('div',{'class':'property-address'})[0].text.replace('   ','').replace('\n','') 

        d['Locality'] = items.find_all('div',{'class':'property-city'})[0].text.replace('   ','').replace('\n','')

        d['Price'] = items.find('a',{'class':'listing-price'}).text.replace('\n', '').replace(' ','')  


        try:      #to cover for the None values(for missing values handle the exception)
            d['Beds'] = items.find('div',{'class' : 'property-beds'}).find('strong').text.replace('\n','') 
        except:
            d['Beds'] = (None)    

        try:      
            d['Full Baths'] = items.find('div',{'class' : 'property-baths'}).find('strong').text.replace('\n','') 
        except:
            d['Full Baths'] = (None)    

        try:      
            d['Area'] = items.find('div',{'class' : 'property-sqft'}).find('strong').text.replace('\n','') 
        except:
            d['Area'] = (None)  

        L.append(d)

In [150]:
L

[{'Address': '109 Clearview Drive',
  'Locality': 'Rock Springs WY 82901',
  'Price': '$152,000',
  'Beds': '3',
  'Full Baths': '2',
  'Area': '1,688'},
 {'Address': '1111 McCabe Street',
  'Locality': 'Rock Springs WY 82901',
  'Price': '$239,500',
  'Beds': '4',
  'Full Baths': '2',
  'Area': '1,768'},
 {'Address': 'Tbd YELLOWSTONE RD.',
  'Locality': 'Rock Springs WY 82901',
  'Price': '$295,000',
  'Beds': None,
  'Full Baths': None,
  'Area': None},
 {'Address': '0 Stagecoach Blvd.',
  'Locality': 'Rock Springs WY 82901',
  'Price': '$975,000',
  'Beds': None,
  'Full Baths': None,
  'Area': None},
 {'Address': '828 Rhode Island Ave',
  'Locality': 'Rock Springs WY 82901',
  'Price': '$199,900',
  'Beds': '4',
  'Full Baths': '2',
  'Area': '1,397'}]

In [151]:
len(L)

5

In [152]:
#Converting the list to a Dataframe

import pandas

df = pandas.DataFrame(L)

df

,Address,Locality,Price,Beds,Full Baths,Area
0,109 Clearview Drive,Rock Springs WY 82901,"$152,000",3,2,"1,688"
1,1111 McCabe Street,Rock Springs WY 82901,"$239,500",4,2,"1,768"
2,Tbd YELLOWSTONE RD.,Rock Springs WY 82901,"$295,000",None,None,None
3,0 Stagecoach Blvd.,Rock Springs WY 82901,"$975,000",None,None,None
4,828 Rhode Island Ave,Rock Springs WY 82901,"$199,900",4,2,"1,397"

In [153]:
#Storing the dataframe in file

df.to_csv('output.csv')